body {
    background-color: #000000!important;
    font-family:'Montserrat', sans-serif!important;
    color: #ffffff!important;
    font-size: 1.1rem!important;
    line-height: 1.5rem!important;
    text-align: center!important;
}

.container-fluid {
    max-width: 540px;
}

.photo {
    margin-top: 40px;
    margin-bottom: 10px;
}

.photo img {
    border-radius: 50%;
    max-width: 250px;
}

.title h1 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3rem;
}

.title h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.links {
    margin-bottom: 40px;
}

.botao {
    color: #000000;
    background-color: #ffffff;
    max-width: 100%;
    min-height: 2.2rem;
    vertical-align: middle;
    margin-top: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
    border-radius: 50px;
    padding-top: 0.3rem;
}

.botao:hover {
    color: #ffffff;
    background-color: #00a1f1;
}

.social {
    margin-bottom: 40px;
}

.social a {
    text-decoration: none;
    color: #E1306C;
}

.social a:hover {
    text-decoration: none;
    color: #00a1f1;
}

.social ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

footer {
    font-size: 0.8rem;
    line-height: 1rem;
}

footer a {
    text-decoration: none;
    color: #fffffff;
}

footer a:hover {
    color: #30388b;
}
